# Virtual environment
.venv/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Local environment/configuration
.env